@page
@model webapp.Pages.KalendarzPremier.ObserwowaneModel

@{ ViewData["Title"] = "Obserowane";
    Layout = "../Shared/_LayoutUser.cshtml";}

<h1>Lista produktów</h1>

<p>
    <a asp-page="Create">Dodaj nowy produkt</a>
</p>

<form method="get">
    <div class="container">
        <div class="row">
            <div class="col">
                Wyszukiwanie
            </div>
            <div class="col">
                Sortowanie
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group-append">
                    <input class="form-control" asp-for="SearchTerm" />
                    <button type="submit" class="btn btn-primary">Szukaj</button>
                </div>
            </div>
            <div class="col">
                <select onchange={this.form.submit()} class="form-control custom-select " asp-for="SelectedTags">
                    <option value="">Od Najnowszych</option>
                    <option value="1">Od Najstarszych</option>
                    <option value="2">Po Cenie Malejąco</option>
                    <option value="3">Po Cenie Rosnąco</option>
                </select>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
    <th>
        @Html.DisplayNameFor(model => model.Product[0].Image)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Product[0].Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Product[0].Price)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Product[0].Description)
    </th>

    <th>
        @Html.DisplayNameFor(model => model.Product[0].Company)
    </th>
    </thead>
    <tbody>
        @foreach (var item in Model.catsss)
        {
<tr>
    <td>
        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="80" height="80" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Company.Name)
    </td>
    <td>
        <a asp-page="./Details" asp-route-id="@item.Id">Szczegóły</a> |
        <a asp-page="./OdUlub" asp-route-id="@item.Id">Usuń</a> |
    </td>
</tr>}
    </tbody>
</table>
