@page
@model webapp.Pages.Products.DetailsUserModel
@{ var cookieValue = Request.Cookies["MyCookie"];
    List<String> elem = null;
    bool has = false;
    if (cookieValue != null)
    {
        elem = cookieValue.Split(",").ToList();
        has = elem.Contains(Model.Product.Id.ToString());
    } }
@{ ViewData["Title"] = "Obsługa rezerwacji";
                Layout = "../Shared/_LayoutUser.cshtml"; }
<head>
    <link rel="stylesheet" type="text/css" href="~/style.css" />
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@if (Model.xyz == "22")
{
<div>
    <a asp-page="./Ulubione">Back to List</a>
</div> }
            else
            {
                if (Model.xyz == "11")
                {
<div>
    <a asp-page="../Common/MainUser">Back to List</a>
</div> }
                else
                {
                    <a asp-page="./IndexUser">Back to List</a>
                }
            }
<h1>Details</h1>

<div>
    <div class="row">
        <div class="col">
            <h4>Product</h4>
        </div>
        @if (has == false)
        {
<div class="col">
    <form method="post" enctype="multipart/form-data">
        <input type="submit" name="submitButton" value="Dodaj do porównania" input />
    </form>
</div>}
        <div class="col">
            <a asp-area="" asp-page="/Products/CompareProducts">Porównaj wybrane produkty</a>
        </div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Product.Image)" width="500" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            <span class="fa fa-star checked"></span> Ocena
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.srednia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            <div class="row">
                <div class="col">
                    @Html.DisplayFor(model => model.Product.Description)
                </div>
                <div class="col">
                    <a asp-page="/ProductsDescription/Create" asp-route-id="@Model.Product.Id">Popraw/dodaj opis</a>
                </div>
            </div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Company.Name)
        </dd>



    </dl>


    <h4> Recenzje: @Model.Recenzje.Count</h4>
    <hr />
    <table class="table">


        @foreach (var item in Model.Recenzje)
        {
<tbody style="        background-color: #FFFF99">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Recenzje[0].userr)&nbsp;
            @Html.DisplayFor(modelItem => item.userr)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Recenzje[0].data)&nbsp;
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @for (int i = 0; i < item.Number; i++)
            {
<span class="fa fa-star checked"></span>}
            @for (int i = 0; i < 5 - item.Number; i++)
            {
<span class="fa fa-star"></span>}
        </td>
        <td>

            @Html.DisplayFor(modelItem => item.komentarz)
        </td>

        <td>
            <a asp-page="/CommentsReview/Create" asp-route-id="@item.ID">Dodaj komentarz</a>


        </td>
    </tr>
</tbody>
                @if (item.CommentsReview.Count != 0)
                {
<tr><th></th><th><h9> Komentarze:</h9></th></tr>
                    <tbody>
                        @for (int i = 0; i < item.CommentsReview.Count; i++)
                        {
                            Model.comrecenzje1 = item.CommentsReview.ToList();

    <tr>
        <td></td>
        <td style="        background-color: #FFFFCC">
            @Html.DisplayNameFor(model => model.comrecenzje1[0].userr)&nbsp;
            @Html.DisplayFor(modelItem => Model.comrecenzje1[i].userr)
        </td>
        <td style="        background-color: #FFFFCC">
            @Html.DisplayNameFor(model => model.comrecenzje1[0].data)&nbsp;
            @Html.DisplayFor(modelItem => Model.comrecenzje1[i].data)
        </td>
        <td style="        background-color: #FFFFCC">
            @Html.DisplayFor(modelItem => Model.comrecenzje1[i].komentarz)
        </td>

    </tr>                    }

                    </tbody>
                                        <tr><th></th></tr>}}

    </table>

    <div>
        <a asp-page="/ReviewsProduct/Create" asp-route-id="@Model.Product.Id">Dodaj recenzje</a>
    </div>

    @if (Model.xyz == "22")
    {
<div>
    <a asp-page="./Ulubione">Back to List</a>
</div> }
            else
            {
                if (Model.xyz == "11")
                {
<div>
    <a asp-page="../Common/MainUser">Back to List</a>
</div> }
                else
                {
                    <a asp-page="./IndexUser">Back to List</a>
                }
            }



    <style>
        .checked {
            color: orange;
        }
    </style>
